<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
  <title>Document</title>
</head>
<body>
  <h1 class="header">勉強時間管理アプリ</h1>
  <div class="center">
    <div class="size_2">
      <h1 id="RealtimeClockArea" title="{{state}}"></h1>
    </div>
    <a href="/work_start" class="button">勉強開始</a>
    <br><br><br>
    <a href="/work_end" class="button">勉強終了</a>
    <br><br><br>
    <a href="/break_time" class="button">休憩時間</a>
    <br><br><br>
    <a href="/note" class="button">&emsp;備考&emsp;</a>
    <br><br><br>
    <a href="/view" class="button">ログ閲覧</a>
  </div>
  <script src="../static/js/script.js"></script>
</body>
</html>