<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/style.css" rel="stylesheet" type="text/css"/>
  <title>Document</title>
</head>
<body>
  <h1 class="header">勉強時間管理アプリ</h1>
  <div class="center">
    <div class="size_2">
      <h1>備考</h1>
      <br>
      <h1 id="RealtimeClockArea" title="{{state}}"></h1>
    </div>
    <form action="/note_write">
      <textarea name="note" rows="5">{{note}}</textarea>
      <br>
      <input type="submit" value="保存" class="button">
    </form>
    <br><br><br>
  </div>
  <a href="/top" class="button">戻る</a>
  <script src="../static/js/script.js"></script>
</body>
</html>